.product .container {
    display: flex;
    justify-content: space-between;
}
.product .left_side {
    max-width: 310px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.left_side h4 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding: 13px 0 14px 18px;
}
.left_side li a {
    font-family: 'cera_proregular', sans-serif;
    margin-bottom: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: #3d3d3d;
}
.left_side li a:hover {
    color: #46A358;
}
.left_side ul {
    padding-bottom: 378px;
}
.product .right_side {
    max-width: 840px;
}
.product .right_side a {
    font-family: 'cera_proregular', sans-serif;
    text-decoration: none;
    color: #3d3d3d;
}
.product_sort{
    margin-bottom: 31px;
}
.product_sort ul {
    display: flex;
    gap: 40px;
}
.product_sort a:after {
    display: block;
    width: 0;
    content: "";
    background: #46a358;
    height: 3px;
    margin-top: 7px;
}
.right_side .product_sort a:hover:after {
    width: 100%;
    color: #46A358;
    transition: 0.5s;
}
.right_side .product_sort a:hover {
    color: #46A358;
}
.right_side {
    margin-left: 50px;
}
.product .right_side p {
    font-family: 'cera_proregular', sans-serif;
    font-size: 15px;
    color: #3d3d3d;
}
.product .product_sort {
    display: flex;
    justify-content: space-between;
}

.product .product_sort ul {
    display: flex;
}
.main_product_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_product_items article {
    max-width: 258px;
    border-top: solid 1px transparent;
    position: relative;
    margin-bottom: 20px;
}
.main_product_items article:hover {
    border-top: 1px solid rgba(70, 163, 88, 0.5)
}
.main_product_items article .sale{
    position: absolute;
    background: #46a358;
    padding: 5px 10px;
    color: white;
    left: 0;
    top: 14px;
}
.main_product_items article ul{
    display: none;
}
.main_product_items article:hover ul{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
    gap: 27px;
}
.main_product_items .item_shop_icon:before{
    content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_shop.svg")no-repeat;
}
.main_product_items .item_shop_icon:hover:before{
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_shop_green.svg")no-repeat;
}
.main_product_items .item_like_icon:before{
    content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_like.svg")no-repeat;
}
.main_product_items .item_like_icon:hover:before{
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_like_green.svg")no-repeat;
}
.main_product_items .item_search_icon:before{
    content: "";
    display: inline-flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_search.svg")no-repeat;
}
.main_product_items .item_search_icon:hover:before{
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    background: url("../images/item_search_green.svg")no-repeat;
}
.main_product_items img {
    padding: 25px 4px;
    margin-bottom: 38px;
    width: 100%;
}
.main_product_items h4 {
    font-family: 'cera_proregular', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 6px;
}
.sale_price{
    display: flex;
    justify-content: flex-start;
    gap: 17px;
}
.main_product_items h5 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.main_product_items h6 {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: gray;
    text-decoration: line-through;
}
.product_pages {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 90px 0 90px 625px
}
.product_pages a {
    margin: auto;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 9px 13px 9px 13px;
    width: 35px;
    height: 35px;
}
.product_pages ul {
    display: flex;
    gap: 10px;
}
.product_pages ul li:first-of-type a{
    background-color: #46a358;
    color: white;
}
.product_pages a:hover {
    background-color: #46a358;
    color: white;
}
.product_pages ul li:last-of-type a:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/arrow_.svg");
    background-repeat: no-repeat;
}
.product_pages ul li:last-of-type:hover a:before{
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../images/arrow_white.svg");
}
.blog_posts .container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.blog_posts .container .blog_posts_up_left.blog_posts_up_right article {
    max-width: 292px;
}
.blog_posts .blog_posts_up_left{
    display: flex;
    justify-content: space-between;
}
.blog_posts .blog_posts_up_left img{
    padding-bottom: 10px;
}
.blog_posts .blog_posts_up_left h3{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin: 37px 30px 9px 119px;
}
.blog_posts .blog_posts_up_left p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-right: 30px;
    padding-bottom: 25px;
}
.blog_posts_up_left .arrow_find_cl {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 10px 2px 10px 28px;
    border-radius: 6px;
    background: #46a358;
    display: flex;
    margin-left: 159px;
    max-width: 140px;
}
.blog_posts_up_left .arrow_find_cl:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/arrow_find_white.svg");
    margin-right: 10px;
    margin-left: 2px;
}
.blog_posts .blog_posts_up_right{
    display: flex;
    justify-content: space-between;
}
.blog_posts .blog_posts_up_right img{
    padding-bottom: 10px;
}
.blog_posts .blog_posts_up_right h3{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    margin: 37px 30px 9px 119px;
}
.blog_posts .blog_posts_up_right p {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    margin-right: 30px;
    padding-bottom: 25px;
}
.blog_posts_up_right .arrow_find_cl {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 10px 2px 10px 28px;
    border-radius: 6px;
    background: #46a358;
    display: flex;
    margin-left: 149px;
    max-width: 140px;
}
.blog_posts_up_right .arrow_find_cl:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/arrow_find_white.svg");
    margin-left: 2px;
}
.blog_posts .container_blog_down h3{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-top: 138px;
    margin-bottom: 15px;
}
.blog_posts .container_blog_down p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    text-align: center;
    margin-bottom: 35px;
}
.blog_posts .blog_reading{
    display: flex;
    justify-content: space-between;
}
.blog_reading article {
    margin: auto;
    max-width: 300px;
    background-color: #fbfbfb;
    padding-left: 15px;
}
.blog_reading {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 43px;
}
.container_blog_down .blog_reading img{
    margin-bottom: 9px;
}
.container_blog_down .blog_reading p{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    margin-bottom: 4px;
}
.container_blog_down .blog_reading h4{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
}
.container_blog_down{
    margin-bottom: 100px;
}
.blog_reading article:first-child h4{
    max-width: 202px;
}
.blog_reading article:last-child h4{
    max-width: 169px;
}
.blog_reading article:nth-child(2) h4{
    max-width: 202px;
}
.blog_reading article:nth-child(3) h4{
    max-width: 174px;
}
.blog_reading h5{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}
.blog_reading .arrow_read_more {
    font-family: 'cera_proregular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    text-decoration: none;
    display: flex;
}
.container_blog_down article .arrow_read_more:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/arrow_find.svg");
    background-repeat: no-repeat;
    margin-left: 3px;
}
.container_blog_down article a:hover {
    color: #46a358;
}
.blog_reading .arrow_read_more:hover:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/arrow_find_green.svg");
    background-repeat: no-repeat;
}
header nav .dropdown{
    position: relative;
}
header nav .sub_menu{
    position: absolute;
    min-width: 188px;
    flex-direction: column;
    gap: 0;
    top: 40px;
    left: -40px;
    display: none;
    padding: 20px;
}
header nav .dropdown .sub_menu li:hover{
    background: #1a712a;
    color: white;
}
header nav .sub_menu li{
    background: #edf6ee;
}
header nav .dropdown:hover .sub_menu{
    display: flex;
}
header nav .sub_menu li:after {
    display: none;
}
header nav .sub_menu li a{
    font-weight: normal;
}
header .dropdown .sub_menu li{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    padding: 9px 0 9px 14px;
}
header nav .dropdown .sub_menu li.dropdown_2{
    position: relative;
}
header nav li.dropdown_2:before {
    content: "";
    display: block;
    background-image: url("../images/sub_arrow.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    position: absolute;
    right: 10px;
    margin: 0;
    top: 15px;
}
header nav li.dropdown_2:hover:after {
    display: block;
    background-image: url("../images/sub_arrow_white.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    position: absolute;
    right: 10px;
    margin: 0;
    top: 15px;
    transform: rotate(180deg)
}
header .container nav .dropdown li a:hover{
    background: #1a712a;
    font-weight: bold;
    color: white !important;
}
header nav .sub_menu_2{
    position: relative;
}
header nav .sub_menu_2{
    position: absolute;
    min-width: 178px;
    flex-direction: column;
    gap: 0;
    top: -102px;
    left: 150px;
    display: none;
}
header nav .sub_menu_2 li{
    background: #edf6ee;
}
header nav .dropdown_2:hover .sub_menu_2{
    display: flex;
}
header nav .sub_menu_2 li:after {
    display: none;
}
header nav .sub_menu_2 li a{
    font-weight: normal;
}
header .dropdown_2 .sub_menu_2 li{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    padding: 9px 0 9px 14px;
}
main .down_news .container_down_news{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background: #fbfbfb;;
}
.container_down_news h4{
    font-family:  'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}
.container_down_news p{
    font-family:  'cera_proregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    max-width: 204px;
}
.container_down_news article{
    padding: 25px 0 24px 23px;
}
.container_down_news article img{
    margin-bottom: 17px;
}
.container_down_news h5{
    font-family:  'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 18px;
}
.container_down_news form{
    display: flex;
    width: 354px;
    padding: 25px;
}
.container_down_news form input{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 6px;
    width: 354px;
    height: 40px;
    border: solid 1px #EAEAEA;
    padding: 12px 0 12px 11px;
}
.container_down_news form .button_sub{
    font-family: 'cera_proregular', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: #46a358;
    border: solid 1px #EAEAEA;
    margin-bottom: 36px;
    border-radius: 0 6px 6px 0;
    width: 85px;
    height: 40px;
}
.container_down_news .sub_text{
    max-width: 354px;
}